.mainBox {
  margin: 3rem;
  h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    font-family: "Roboto Condensed";
  }

  span {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    font-family: "Roboto Condensed";
  }
  .charactersContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13%);
    justify-content: center;
    gap: 20px;
    align-items: stretch;
  }
}

@media screen and (max-width: 480px) {
  .mainBox {
    margin: 2rem 1rem !important;
  }
  .charactersContainer {
    display: flex !important;
    flex-direction: column;
    gap: 4rem !important;
  }
}
@media screen and (max-width: 768px) {
  .mainBox {
    margin: 2rem 1rem !important;
  }
  .charactersContainer {
    grid-template-columns: repeat(auto-fill, 30%) !important;
  }
}
@media screen and (max-width: 1024px) {
  .mainBox {
    margin: 2rem 1rem !important;
  }

  .charactersContainer {
    grid-template-columns: repeat(auto-fill, 30%) !important;
  }
}
@media screen and (max-width: 1200px) {
  .charactersContainer {
    grid-template-columns: repeat(auto-fill, 18%) !important;
  }
}
