.containerDetail {
  .mainboxDetail {
    background-color: black;
    display: flex;
    justify-content: center;
    border-top: 1px solid #333333;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .square {
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 31.5rem;
    right: 0;
    background: linear-gradient(to bottom right, black 50%, white 50%);
  }
  .dataDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 3rem;

    h1 {
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      font-family: 'Roboto Condensed';
    }
    p {
      color: white;
      font-size: 18px;
      font-family: 'Roboto Condensed';
      text-align: justify;
    }
  }

  .heartDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    cursor: pointer;
  }
}
.heart-icon {
  font-size: 1.5rem;
  stroke: white;
  stroke-width: 1.5rem;
  fill: transparent;
}
.heart-icon.favorite {
  stroke: red !important;
  fill: red !important;
}
.transformationContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  .transformationBox {
    width: 60%;

    ul {
      display: flex;
      padding: 0;
    }

    li {
      display: flex;
      flex-direction: column;
      padding: 12px 25px;
      span {
        font-size: 18px;
        font-weight: 300;
        font-family: 'Roboto Condensed';
      }
      p {
        font-size: 18px;
        font-weight: 400;
        font-family: 'Roboto Condensed';
      }
    }
  }

  h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    font-family: 'Roboto Condensed';
  }
}
.no-transformations {
  font-size: 18px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  color: black;
}

@media screen and (max-width: 480px) {
  .dataDetail {
    flex-direction: column !important;
    .imgBox {
      margin: 20px 0;
    }
  }
  .description {
    width: 100% !important;
    padding: 2rem !important;
  }
  .transformationContainer {
    flex-direction: column !important;
    align-items: center;
  }
  .transformationBox {
    width: 80% !important;
    margin: 20px 0;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  ul {
    flex-direction: column !important;
    li {
      justify-content: end !important;
      align-items: center !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .dataDetail {
    flex-direction: column !important;
    .imgBox {
      margin: 20px 0;
    }
  }
  .transformationContainer {
    flex-direction: column !important;
    align-items: center;
  }
  .transformationBox {
    width: 80% !important;
    margin: 20px 0;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  ul {
    flex-direction: column !important;
    li {
      justify-content: end !important;
      align-items: center !important;
    }
  }
  .square {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .dataDetail {
    width: 100% !important;
    gap: 2rem !important;
    .imgBox {
      width: auto;
      margin: 20px 0;
    }
    .description {
      width: 50%;
    }
  }
  .transformationBox {
    width: 100% !important;
    padding: 0 2rem;
  }
  .square {
    top: 34rem !important;
  }
}
