.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;

  overflow: hidden;
  transition: transform 0.2s;

  width: 250px;
  height: 500px;

  &:hover {
    transform: scale(1.05);
    border: none;
  }
}

.containerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.imgBox {
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: inherit;
    width: 100%;
    object-fit: contain;
    padding: 7px;
  }
}

.cardBody {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid orange;
  height: 5rem;
  width: 100%;
  padding: 0 20px;

  position: relative;

  h5 {
    color: white;
    font-family: "Roboto Condensed";
    font-weight: 300;
    text-transform: uppercase;
  }
  .btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    .heart-icon {
      font-size: 1.5rem;
      stroke: white;
      stroke-width: 1.5rem;
      fill: transparent;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid white;
  }
}
.heart-icon.favorite {
  stroke: red !important;
  fill: red !important;
}
