.mainBox {
  h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    font-family: "Roboto Condensed";
  }

  .charactersContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    align-items: stretch;
  }
}
