header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  height: 7rem;
}

.header-left {
  height: auto;
  img {
    width: 50%;
    height: fit-content;
  }
}

button:active {
  border: none;
}

.heart-icon {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.header-right button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed";
    font-weight: 300;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 5rem !important;
  }
}
