header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  height: 5rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.heart-icon {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.header-right button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  span {
    color: white;
    font-size: 20px;
  }
}
