.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;

  .form-control {
    border: none !important;
    width: 100%;
    padding-left: 2.5rem;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    color: #6c757d;
    pointer-events: none;
  }
}

.form-control:focus-visible,
:focus {
  outline: none !important;
  box-shadow: none !important;
}
