@media screen and (max-width: 480px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1200px) {
}

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;

  .form-control {
    border: none !important;
    width: 100%;
    padding-left: 2.5rem;
    text-transform: uppercase;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    color: #6c757d;
    pointer-events: none;
  }
}

.form-control:focus-visible,
:focus {
  outline: none !important;
  box-shadow: none !important;
}
